body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
}

svg{
	padding-left: 20em;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.dataTables_wrapper {
  padding-top: 4em;
}

/* individuals team/competition page */
#team_desc, #competition_desc {
	margin-top: 20px;
	padding-left: 3em;
}

#team_players, #team_competitions, #competition_players, #competition_history {
	padding-left: 3em;
}


#team_basics_tags, #team_basics, #competition_basics_tags, #competition_basics {
	margin-top: 10px;
}

#team_logo, #competition_logo {
	text-align: center;
}
